/* =========================================
   PROCESS PAGE
========================================= */

.process-page {
  width: 100%;
  background: linear-gradient(
    120deg,
    #132A3E 0%,
    #1A5665 55%,
    #287581 100%
  );

  color: #ffffff;
}


/* =========================================
   HERO
========================================= */

.process-hero {
  width: 100%;
  min-height: 390px;

  display: flex;
  align-items: center;

  /* background: #102f52; */
}

.process-hero-container {
  width: 100%;
  max-width: 1540px;

  margin: 0 auto;

  padding: 75px 80px;
}



.process-label {
  display: block;

  margin-bottom: 24px;

  color: #287581 ;

  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;

  letter-spacing: 1.3px;
}


/* Main heading */

.process-hero h1 {
  margin: 0;

  color: #ffffff;

  font-family: Georgia, "Times New Roman", serif;

  font-size: 64px;
  font-weight: 600;

  line-height: 1.1;

  letter-spacing: -1.5px;
}



.process-hero p {
  max-width: 900px;

  margin: 24px 0 0;

  color: #dce7f2;

  font-family: Arial, sans-serif;

  font-size: 19px;

  line-height: 1.7;
}


/* =========================================
   PROCESS SECTION
========================================= */

.recruitment-process {
  width: 100%;

  background: #ffffff;

  padding: 120px 0 130px;
}


/* Main process width */

.process-wrapper {
  width: 100%;
  max-width: 900px;

  margin: 0 auto;
}


/* =========================================
   PROCESS ITEM
========================================= */

.process-item {
  display: grid;

  grid-template-columns: 70px 1fr;

  column-gap: 28px;

  min-height: 205px;
}


/* =========================================
   NUMBER AREA
========================================= */

.process-number-area {
  position: relative;

  display: flex;

  justify-content: center;

  width: 70px;
}


/* Number circle */

.process-number {
  position: relative;

  z-index: 2;

  width: 44px;
  height: 44px;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #287581 ;

  color: #ffffff;

  font-family: Arial, sans-serif;

  font-size: 13px;

  font-weight: 700;
}



.process-vertical-line {
  position: absolute;

  top: 44px;

  bottom: 0;

  left: 50%;

  width: 1px;

  background: #d8e0e8;

  transform: translateX(-50%);
}


/* =========================================
   CONTENT
========================================= */

.process-content {
  padding: 2px 0 80px;
}


/*  title */

.process-content h2 {
  margin: 0 0 15px;

  color: #1A5665 ;

  font-family: "Segoe UI", Arial, sans-serif;

  font-size: 38px;

  font-weight: 600;

  line-height: 1.2;

  letter-spacing: -0.5px;
}


/* Step description */

.process-content p {
  max-width: 780px;

  margin: 0;

  color:  #132A3E ;

  font-family: Arial, sans-serif;

  font-size: 18px;

  line-height: 1.75;
}


/* =========================================
   TABLET
========================================= */

@media (max-width: 900px) {

  .process-hero-container {
    padding: 70px 50px;
  }

  .process-hero h1 {
    font-size: 52px;
  }

  .process-wrapper {
    max-width: 760px;
  }

  .recruitment-process {
    padding: 90px 40px 100px;
  }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 600px) {

  .process-hero {
    min-height: 340px;
  }

  .process-hero-container {
    padding: 60px 25px;
  }

  .process-label {
    font-size: 12px;
    margin-bottom: 18px;
  }

  .process-hero h1 {
    font-size: 40px;
    letter-spacing: -0.8px;
  }

  .process-hero p {
    margin-top: 20px;

    font-size: 16px;

    line-height: 1.6;
  }


  /* Process */

  .recruitment-process {
    padding: 75px 20px 90px;
  }

  .process-wrapper {
    width: 100%;
  }

  .process-item {
    grid-template-columns: 52px 1fr;

    column-gap: 15px;

    min-height: 210px;
  }

  .process-number-area {
    width: 52px;
  }

  .process-number {
    width: 40px;
    height: 40px;

    font-size: 12px;
  }

  .process-vertical-line {
    top: 40px;
  }

  .process-content {
    padding-bottom: 70px;
  }

  .process-content h2 {
    font-size: 28px;

    line-height: 1.25;

    margin-bottom: 12px;
  }

  .process-content p {
    font-size: 16px;

    line-height: 1.65;
  }

}


/* =========================================
   SMALL MOBILE
========================================= */

@media (max-width: 400px) {

  .process-hero h1 {
    font-size: 35px;
  }

  .process-item {
    grid-template-columns: 45px 1fr;

    column-gap: 12px;
  }

  .process-number-area {
    width: 45px;
  }

  .process-content h2 {
    font-size: 25px;
  }

}